
@import '../../styles/variables/variable.scss';
.app {
   text-align: center;
  background-color:$background-color;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 25vw;
  height: 83.5vh;
padding-top: 20px;
  position: relative;
 }
 .item-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  z-index: 2;
  justify-content: center;
  // height: 100%;
  overflow-y: scroll;
 scrollbar-width: thin;
 -ms-overflow-style: none;  
 scrollbar-width: none;
}
.no-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  height: 100vh; /* Full viewport height */
}
.item-list::-webkit-scrollbar {
 display: none;
}

 .item-card {
 
  background-color: #edeff3;
  border-radius: 5px;
  width: 140px;
  
  border:1px solid#58D7B5;
} 
 
//  .item-card {
//    display: flex;
//    background-color: #edeff3;
//    border-radius: 5px;
//    height:22vh;
//    width:10vw;
//    text-align: center;
//    display: flex;
//    color: #2d2f36;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//    justify-content: center;
//    border:1px solid#58D7B5;
//   //  margin-top: 10px;
//  }
 
 .item-image {
   width: 65px;
   height: 65px;
   object-fit: cover;
   margin-top: 20px;
   // background-image:url('../../assets/bag.gif');
   border-radius: 80px;
   // margin-top: 40px;
   
 }
 .switch-container{

   display: flex;
   width: 100%;
   height: 32px;
   border-radius: 3px;
    background-color:#58D7B5;
   ;
    // position:fixed;
   margin-top:10px;
   // margin-bottom: -15px;
   justify-content:space-around;
   align-items: center;
   

 }
 .lost-mode-text {
  //  margin-top: 5px;
   font-weight: 450;
   font-size:13px;
   color: rgb(246, 248, 248);
 }
 
 .footer-buttons {
   display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  background-color:#58D7B5;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
  position: absolute;
  max-width: 500px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  opacity: 0.97;
  // position: fixed;
   }
 
 .shop-button {
   background-color:#58D7B5;
   border: none;
   color: #2d2f36;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   font-weight:500;
   font-size: small;
 }
 .activate-qr-button {
background-color: #222831;
   border: none;
   color:#ffffff;
   border-radius: 5px;
   width: 11vw;
   font-weight: 400;
font-size: small;
   cursor: pointer;
   margin-top: 10px;
 }
 
 .shop-button:hover, .activate-qr-button:hover {
   background-color: #00a392;
 }
 .toggle-container {
   width: 30px;
   height: 13px;
   background-color: #ffffff;
   border-radius: 25px;
  //  margin-top: 10px;
   cursor: pointer;
   position: relative;
 }
 
 .toggle-button {
   width: 7px;
   height: 7px;
   background-color: #FB6F68FF;
   border-radius: 50%;
   position: absolute;
   top: 3px;
   left: 3px;
   transition: left 0.3s;
 }
 
 .toggle-button.active {
   left: 20px;
   background-color:#58D7B5
 }
 
 @media screen and (max-width:1024px){
  .app{
    width: 320px;
  }
 }
 @media screen and (max-width:850px) {
  .app{

    width: 50vw;
  }
 }
 @media  screen and (max-width:600px) {
  .app{
    width: 60vw;
  }
 }
@media  screen and (max-width:'450px') {
   .item-card{
      width: 40vw;
   }
   .switch-container{
      width: 100%;
      
      // margin-top: 40px;
   }
   .app{
    width: 100vw;
    margin: auto;
   }
   .activate-qr-button{
    width: 45vw;
   }
   .item-image{
    width: 70px;
    height:70px;
    // border-radius: 15;
   }
}





