@import '../variables/variable.scss';
.forgot-password-main-container {
  height: 100vh;
   background-color: #f4f4f4;
 }
 
 .forgot-password-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  max-width: 340px;
   background:$background-color;
   padding: 2rem;
  //  border-radius: 8px;
  margin: auto;

 }
 
 .forgot-password-heading {
   margin-bottom: 1.5rem;
   text-align: center;
   color: #f4f4f4;
 }
 
 .form-group{
  position: relative;

   margin-bottom:0.2rem;
 }
 .form-group.with-error {
  margin-bottom: 22px; 
}
 .for-got-password-button {
  @include button-style ;
  width:300px;
  
  text-align: center;

 }

 .error {
   margin-top: 1rem;
   color:$error-color
 }
 @media  screen and (max-width:540px) {
  .forgot-password-main-container{
    background-color:$background-color
  }
 }