@import "../../styles/variables/variable.scss";

.forgot-password-form {
  width: $max-width-small;
  background-color: $background-color;
  background-size: cover;
  padding: 10px;
}
.forgot-password-main-container {
  @include center-content;
}
.forgot-password-heading {
  color: $text-color;
}
