@import "../../styles/variables/variable.scss";


.submenu-password {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   opacity: 0;
   margin-top:50px;
   transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
   transform: translateX(100%);
   
   &.is-visible {
     opacity: 1;
    
   }
 
   .menu-back {
     align-self: flex-start;
     margin-bottom: 1rem;
     cursor: pointer;
     color: #fff;
     text-decoration: underline;
     transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
   }
 
   .input-field {
     width: 100%;
     max-width: 300px;
     margin-bottom: 1.5rem;
     input {
       width: 100%;
       padding: 10px;
       border: 1px solid #ccc;
       border-radius: 4px;
     }
   }
 
   button {
   @include  button-style;
   width:300px
   
   }
 }
 .err-msg {
   position: absolute;
   // top: 70%;
   left: 0;
   color: rgb(250, 111, 104);
   font-size: 12px;
 }.password-field {
   position: relative;
 }
 
 .eye-icon {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
 }
 .error-margin-top {
   margin-top: 60px;
 }
 