
@import "../../styles/variables/variable.scss";

.header-flex-container {
  width: 100vw;
  height: 100%;
}

.main-qrcode-container {
  overflow: hidden;
  margin: auto;
  width: 100vw;
  max-width: 440px;
  height: 100%;
  background-color: $background-color;
  position: relative;

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 35px;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.2s ease-in 0.4s;

      .burger {
        width: 100%;
        height: 2px;
        background-color: $primary-color;
      }
    }

    .search-container {
      display: flex;
      align-items: center;

      .search-input-wrapper {
        position: relative;

        input {
          width: 250px;
          padding: 10px;
          padding-left: 40px;
          border: 1px solid #ccc;
          border-radius: 4px;
          border: 1px solid $primary-color;
          background-color: transparent;
          color: $primary-color;

          &:focus-visible {
            outline: 1px solid #0dc392 !important; // Remove default outline
          }
        }

        .search-icon {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          height: 25px;
          width: 25px;
          color: $primary-color;
        }

        .search-bg-icon {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}

.menu {
  &-wrapper {
    background: #183e51;
    position: fixed;
    transition: all 0.6s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 40;
    height: 110%;
    top: 0;

    &.inactive {
      left: -100%;
    }

    &.active {
      left: 0;
    }

    @media (min-width: 600px) {
      position: absolute;
    }
    .close-menu {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      color: #fff;
      font-size: 1rem;
      font-weight: 800;
      background-color: #434850;
      padding: 10px 15px;
      border-radius: 3px;
      cursor: pointer;
    }
    &-image {
      margin: 2rem 2rem 1rem;
      @media (min-width: 440px) {
        margin-right: 3rem;
      }
    }
    .submenu {
      position: absolute;
      top: 0;
      left: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 4rem 2rem 2rem;
      width: 100%;
      opacity: 0;
      transition: opacity 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
      &.is-visible {
        opacity: 1;
        overflow-y: auto;
        overflow-x: hidden;
      }
      hr{   // updated
        width: 100%;
        color:#0dc392;
        // border: px solid;
      }
    }
  }
  &-text,
  &-logout {
    color: #fff;
    // padding-bottom: 1rem;
    font-size: 17px;
  }
  &-logout {
    margin-top: 1rem;
    color: #fff;
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
  }
  &-container {
    width: 100%;
    position: relative;
  }

  &-list {
    padding: 1rem 2rem 2rem;
    width: 100%;
    transform: translateX(0%);
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    &.submenu-visible {
      transform: translateX(-100%);
    }
    h4 {
      color: #fff;
      line-height: 2;
      border-bottom: 1px solid #58d7b5;
      font-size: 18px;
    }
  }
  &-link {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    span {
      padding-right: 1rem;
      position: absolute; //updted
      right: 37px; //updated
      img {
        width: 14px;
        filter: brightness(0) invert(1);
      }
    }
  }
  &-back {
    color: #fff;
    text-decoration: underline;
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;
  }
}

@media screen and (min-width: 440px) {
  .main-qrcode-container {
    width: 340px;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .mobile-header {
    width: 92%;
  }
}

@media screen and (max-width: 440px) {
  .mobile-header {
    width: 85%;
  }
}
@media screen and (max-width: 380px) {
  .mobile-header {
    width: 92%;
  }
}
@media screen and (max-width: 340px) {
  .mobile-header {
    width: 100%;
  }
}
