// Color Variables
$background-color: #343D3C;

$primary-color: #93B8A1;
$secondary-color: #434850;
$hover-color: #8ca58f;
$error-color: rgb(250, 111, 104);
$text-color: #FFFFFF;
$border-color: #ccc;
$font-size-small: 13.1px;
$font-size-medium: 16.38px;
$input-field-border: #F9BC5E;

// Dimensions
$border-radius: 5px;
$padding-small: 10px;
$padding-medium: 20px;
$height-full: 100vh;
$min-width: 300px;
$max-width: 450px;

// Mixins
@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-style {
  width: calc(100% - 5px);
  padding: $padding-small;
  font-size: $font-size-medium;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-weight: 500;
  color: #000000;
}

@mixin button-style {
  background-color: $primary-color;
  height: 57.31px;
  width: 100%;
  border: 8.19px;
  color: $text-color;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20.47px;;
  font-weight: 600;

  &:hover {
    background-color: $hover-color;
    border-color: #333;
  }
}
