@import "../../styles/variables/variable.scss";

.verify-email-container {
  min-width: $min-width;
  width: 100vw;
  // padding: 10px;
  background-color: $background-color;
  color: $text-color;
  height: 92.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.verify-email-main-container {
  height: 90vh;
  flex-direction: column;
  @include center-content;
}

@media (min-width: 600px) {
  .verify-email-container {
    max-width: 340px;
    height: 100vh;
  }
  .verify-email-main-container {
    height: 100vh;
  }
}
.verify-email-heading {
  text-align: center;
}
.verification-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 20px;

  &.success {
    color: $primary-color;
  }

  &.error {
    color: $error-color;
  }

  .verification-icon {
    margin-right: 10px;
  }
}
