@import "../../styles/variables/variable.scss";

.verify-email-container {
  //min-width: $min-width;
  background-color: $background-color;
  color: $text-color;
  height: 92.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.verify-email-main-container {
  margin: auto;
  width: 100vw;
  max-width: 440px;
  height: calc(100vh - 57px);
}

// @media (min-width: 600px) {
//   .verify-email-container {
//     max-width: 340px;
//     height: 100vh;
//   }
//   .verify-email-main-container {
//     height: 100vh;
//   }
// }
.verify-email-heading {
  text-align: center;
}
.verification-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 20px;

  &.success {
    color: $primary-color;
    width: 100%;
  }

  &.error {
    color: $error-color;
    width: 100%;
  }

  .verification-icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 440px) {
  .verify-email-main-container {
    width: 340px;
    height: 100vh;
  }
  .verify-email-container {
    height: 100vh;
  }
}
@media screen and (max-width: 440px) {
  // .mobile-header {
  //   width: 85%;
  // }
}
