// body {
//   font-family: Arial, sans-serif;
//   margin: 0;
//   padding: 0 30px;
// }

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
}

/* Dark mode styles */
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--heading-color);
}

.not-found {
  &-page {
    height: 100%;
   
  }

  &-bg {
    &:after{
      content:"";
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 100%;
      z-index: -1;
      background-image: url("../../assets/404-bg.png");
    }
   
    padding: 2rem;
    
    img {
      width: 100%;
    }

    h2 {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: #fff;
    }

    p {
      font-size: 13px;
      font-weight: 500;
      line-height: 19.43px;
      text-align: center;
      color: #FFFFFF;
      max-width: 12rem;
      margin: 1.3rem auto 3rem;
    }

    a {
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      color:#93B8A1;
      width:100%;
      display:block;
    }
  }
}
input:focus,
input:focus-visible,
select:focus-visible,
select:focus,
textarea:focus-visible,
textarea:focus  {
  outline: 2px solid #FFC857;
}