.fixed-logout-button {
  background-color: #183e51;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
