// body {
//   font-family: Arial, sans-serif;
//   margin: 0;
//   padding: 0 30px;
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* Dark mode styles */
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
}

body {
 
  font-family: 'Montserrat';
  margin:0;
}

h1 {
  color: var(--heading-color);
}

