@import "../../styles/variables/variable.scss";

.register-form .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.password-input-container {
  position: relative;
}

.input-box {
  width: 100%;
  padding: 0.5rem;
  padding-right: 2.5rem;
  box-sizing: border-box;
}

.toggle-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.25rem;
}
.error {
  color: $error-color;
}
.form-container {
  width: 350px;
}
