@import '../../index.scss';

@mixin input-styles {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  color: var(--text-color);
}
.regestation-container{
  width: 100vw;

}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 92vh;
  max-width: 380px;  // Increased width
  width: 90vw;       // Increased width for responsiveness
  margin: auto;
  position: relative;
  z-index: 1;
  background-color: #212530;
  padding: 40px;
}

.bag-icon, .cycle-icon, .cat-icon, .dog-icon {
  width: 160px;
  height: 80px;
  margin: auto;
  margin-bottom: -15px;
  background-size: cover;
  background-color: transparent;
}

.background-iamge-container-paws {
  background-image: url('../../assets/paws work@512p-25fps.gif');
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  top: 0;
  left: -55px;
  width: 100%;
  height: 100%;
  background-size: 31vh;
  opacity: 25%;
  z-index: -1;
}

.background-iamge-container-tyres {
  background-image: url('../../assets/tyre path@512p-25fps.gif');
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 2px;
  height: 100%;
  width: 100%;
  background-size: 30vh;
  opacity: 50%;
  z-index: -1;
}

.background-iamge-container-steps {
  background-image: url('../../assets/Bag Steps@512p-25fps.gif');
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  background-size: 14vh;
  opacity: 25%;
  z-index: -1;
}

h1 {
  margin-bottom: 20px;
  font-size: larger;
  font-weight: 500;
  color: #ffffff;
}

// input {
//   @include input-styles;
// }

.input-box {
  width: 100%;
  padding: 11px;
  margin-bottom: 20px;
  // margin-left: -22px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-container {
  position: relative;
}

.show-password {
  background: none;
  border: none;
  color: #232323;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-90%);
}

.forgot-password {
  margin-bottom: 20px;
  cursor: pointer;
}

.login-button {
  padding: 10px;
  width: 320px;
  border: none;
  border-radius: 5px;
  background-color: #6bc6ae;
  color: white;
  font-size: 18px;
  // margin-left: -22px;
  border: 5px solid #434850;
  border-radius: 10px;
  cursor: pointer;
}

.error {
  color: #f03355;
  font-size: 0.875rem;
}
@media screen and (max-width:600px) {
  .regestation-container{
    background-color: #212530;
  }
  .form-container{
    height: 100vh;
  }
  .background-iamge-container-paws{
    left: -80px;
  }
}